# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

.runtimeconfig.json
portfolio-storage-99a47-firebase-adminsdk.json
firebase-adminsdk.json